block footer 

footer.footer
    .wrapper 
        .row
            .footer__item.footer__item_item1
                a.logo(href='#')
                    img.logo__img(src='img/nav/logo.svg')
                    p.logo__text Zone.
                a(href="#").row.footer__link_marginTop
                    img(src="img/location.svg")
                    span Dhaka, Bangladesh
                a(href="#").row.footer__link_marginTop
                    img(src="img/phone.svg")
                    span 0943833399
                a(href="#").row.footer__link_marginTop
                    img(src="img/message.svg")
                    span support@zone.com
                .socialLinks.footer__link_marginTop
                    a(href="#")
                        img(src="img/footer/facebook.svg") 
                    a(href="#")
                        img(src="img/footer/twitter.svg") 
                    a(href="#")
                        img(src="img/footer/instagram.svg") 
                    a(href="#")
                        img(src="img/footer/pinterest.svg") 


            .footer__item.footer__item_item2
                .row
                    .footer__subItem.footer__subItem1 
                        a(href="#") Service  #[br]
                        a(href="#" class="footer__link_marginTop") Order Management 
                        a(href="#" class="footer__link_marginTop") Social Assistant 
                        a(href="#" class="footer__link_marginTop") Crypto Platform 
                        a(href="#" class="footer__link_marginTop") Analyzer of the News 
                    .footer__subItem.footer__subItem2
                        a(href="#") Company #[br]
                        a(href="#" class="footer__link_marginTop") About Us 
                        a(href="#" class="footer__link_marginTop") News 
                        a(href="#" class="footer__link_marginTop") Our trusted partner 
                        a(href="#" class="footer__link_marginTop") New users FAQ 
                    .footer__subItem.footer__subItem3
                        a(href="#") Supports #[br]
                        a(href="#" class="footer__link_marginTop") Help center 
                        a(href="#" class="footer__link_marginTop") Feedback 
                        a(href="#" class="footer__link_marginTop") Contact us 
                        a(href="#" class="footer__link_marginTop") Terms conditins 
                    .footer__subItem.footer__subItem4
                        a(href="#") Resources #[br]
                        a(href="#" class="footer__link_marginTop") Download app 
                        a(href="#" class="footer__link_marginTop") Blog 
                        a(href="#" class="footer__link_marginTop") What’s new 
                        a(href="#" class="footer__link_marginTop") Sitemap 

        hr

        .row.copyright
            span.copyright__logo © 2021 Zone. - All rights reserved.

            .copyright__menu 
                a(href="#") Privacy
                a(href="#") Security
                a(href="#") Terms