block metOurTeam

section.metOurTeam
    .wrapper 
        h2.title Met Our Team
        p.p.metOurTeam__p. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis #[br]
            accumsan nisi Ut ut felis congue nisl hendrerit commodo.
        .row 
            div.metOurTeam__item
                img(src="img/metOurTeam/webp/man1.webp" data-ext="jpg" class="metOurTeam__img")
                h3.h3 Sunny Khan
                p.p.metOurTeam__p Executive officer
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/skype.svg" alt="skypeLink")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/linkedin.svg" alt="linkedIn")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/twitter.svg" alt="twitter")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/facebook.svg" alt="facebook")

            div.metOurTeam__item
                img(src="img/metOurTeam/webp/man2.webp" data-ext="jpg" class="metOurTeam__img")
                h3.h3 Alina Jesia
                p.p.metOurTeam__p UX/UI DESIGNER
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/skype.svg" alt="skypeLink")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/linkedin.svg" alt="linkedIn")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/twitter.svg" alt="twitter")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/facebook.svg" alt="facebook")

            div.metOurTeam__item
                img(src="img/metOurTeam/webp/man3.webp" data-ext="jpg" class="metOurTeam__img")
                h3.h3 Alex Sohag
                p.p.metOurTeam__p BUSINESS DEVELOPMENT
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/skype.svg" alt="skypeLink")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/linkedin.svg" alt="linkedIn")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/twitter.svg" alt="twitter")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/facebook.svg" alt="facebook")

            div.metOurTeam__item
                img(src="img/metOurTeam/webp/man4.webp" data-ext="jpg" class="metOurTeam__img")
                h3.h3 Afroza Mou
                p.p.metOurTeam__p Head of marketing
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/skype.svg" alt="skypeLink")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/linkedin.svg" alt="linkedIn")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/twitter.svg" alt="twitter")
                a(class="metOurTeam__a" href="#")
                    img(src="img/metOurTeam/facebook.svg" alt="facebook")