block nav 

nav.nav
    .wrapper
        .row
            a.logo(href="#")
                img.logo__img(src="img/nav/logo.svg")
                p.logo__text Zone.
            div.desktop-menu
                a.desktop-menu__item.btn Home
                a.desktop-menu__item.btn About Us
                a.desktop-menu__item.btn Service
                a.desktop-menu__item.btn Pricing
                a.desktop-menu__item.btn Blog
                a.desktop-menu__item.btn Contact Us