block ourServices 

section.ourServices 
    h2.title.ourServices__title Our Services 
    p.p.ourServices__p We turn information into actionable insights We work to understand your issues #[br] and are driven to ask better questions in the pursuit of making work.

    .wrapper 
        .row 
            .ourServices__item.ourServices__item_1
                img(src='img/ourServices/ourServicesItem1.svg', alt='logo', class='ourServices__img')
                h3.h3.ourServices__h3  Order Management
                p.p.ourServices__p.
                 Lorem ipsum dolor sit amet, consectetur #[br] 
                 the adipiscing elit. Sed quis accumsan nisi #[br] 
                 Ut ut felis congue nisl hendrerit commodo.
                a(href='#' class='ourServices__a') Learn More  →

            .ourServices__item.ourServices__item_2
                img(src='img/ourServices/ourServicesItem2.svg', alt='logo', class='ourServices__img')
                h3.h3.ourServices__h3  Social Assistant
                p.p.ourServices__p.
                 Lorem ipsum dolor sit amet, consectetur #[br] 
                 the adipiscing elit. Sed quis accumsan nisi #[br] 
                 Ut ut felis congue nisl hendrerit commodo.
                a(href='#' class='ourServices__a') Learn More  →

            .ourServices__item.ourServices__item_3
                img(src='img/ourServices/ourServicesItem3.svg', alt='logo', class='ourServices__img')
                h3.h3.ourServices__h3  Crypto Platform
                p.p.ourServices__p.
                 Lorem ipsum dolor sit amet, consectetur #[br] 
                 the adipiscing elit. Sed quis accumsan nisi #[br] 
                 Ut ut felis congue nisl hendrerit commodo.
                a(href='#' class='ourServices__a') Learn More  →

            .ourServices__item.ourServices__item_4
                img(src='img/ourServices/ourServicesItem4.svg', alt='logo', class='ourServices__img')
                h3.h3.ourServices__h3  Smart Trading Modules
                p.p.ourServices__p.
                 Lorem ipsum dolor sit amet, consectetur #[br] 
                 the adipiscing elit. Sed quis accumsan nisi #[br] 
                 Ut ut felis congue nisl hendrerit commodo.
                a(href='#' class='ourServices__a') Learn More  →

            .ourServices__item.ourServices__item_5
                img(src='img/ourServices/ourServicesItem5.svg', alt='logo', class='ourServices__img')
                h3.h3.ourServices__h3  Analyzer of the News
                p.p.ourServices__p.
                 Lorem ipsum dolor sit amet, consectetur #[br] 
                 the adipiscing elit. Sed quis accumsan nisi #[br] 
                 Ut ut felis congue nisl hendrerit commodo.
                a(href='#' class='ourServices__a') Learn More  →

            .ourServices__item.ourServices__item_6 
                img(src='img/ourServices/ourServicesItem6.svg', alt='logo', class='ourServices__img')
                h3.h3.ourServices__h3  Module of Price Notification
                p.p.ourServices__p.
                    Lorem ipsum dolor sit amet, consectetur #[br] 
                    the adipiscing elit. Sed quis accumsan nisi #[br] 
                    Ut ut felis congue nisl hendrerit commodo.
                a(href='#' class='ourServices__a') Learn More  →