block projects 

section.projects 
    .wrapper 
        .row
            img(src='img/projects/webp/man.webp' data-ext='png' class='projects__img')
            .projects__content 
                h2.title.
                    We complete every projects #[br]
                    extra care as customer need
                p.p.projects__p. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, #[br]
                    non suscipit arcu. Quisque aliquam posuere tortor, sit amet convallis nuncoe #[br] 
                    scelerisque in. orem ipsum  dolor sit amet, consectetur adipisicing elit. Labore #[br] 
                    eius molestiae facere, natus reprehenderit eaque eum, autem ipsam. Magfini, #[br] 
                    error. Tempora odit laborum iure inventore possimus laboriosam qui nam. 
                a(href='#' class='projects__a btn gradient') Read More 

