block solutions 

section.solutions 
    .wrapper
        .row 
            div.solutions__content
                h1 Virtual Reality #[br] Business Solutions
                p.solutions__p We have over 15 year exprience in business consultting arena. We have over #[br] 15 year exprience in business consultting arena and artficial intelligence.
                .solutions__btns 
                    button.btn Join Us
                    button.btn.btn_with-img
                        img(src="img/solutions/playVideoBtn.svg", alt="play")
                        span Watch video

            
            img(src="img/solutions/webp/man.webp", alt="man", data-ext="png")