block subscribe

section.subscribe
    .wrapper
        h2.h2.title Subscribe to get the Latest News
        p.p.subscribe__p.
            We recommended you to subscribe to our newspaper,drop your email below to get daily update about us
        form.form.subscribe__form(action="")
            input(class="subscribe__input subscribe__input_text" type="text" placeholder="Enter your email addres")
            button(class="btn btn_with-img subscribe__btn")
                img(src="img/subscribe/telegram.svg")
                span.btn__span Subscribe